<!DOCTYPE html>
<html id="planningpokerpageid">
<head>
    <title>Essential JS 2 for ASP.NET Core - Story Estimator</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="Essential JS 2 for ASP.NET Core - Story Estimator" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Syncfusion" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
    <environment names="Development">
        <link href="~/css/ej2/ej2-notifications.css" rel="stylesheet" />
        <link href="~/css/ej2/material.css" rel="stylesheet" />
        <link href="~/dist/css/ej2/ej2Grid.css" rel="stylesheet" />
        <link href="~/dist/css/ej2/ej2DatePicker.css" rel="stylesheet" />
        <link href="~/dist/css/ej2/ej2Dialog.css" rel="stylesheet" />
        <link href="~/dist/css/ej2/ej2Dropdown.css" rel="stylesheet" />
        <link href="~/dist/css/ej2/ej2Toast.css" rel="stylesheet" />
        <link href="~/dist/css/Components/button.css" rel="stylesheet" />
        <link href="~/dist/css/Components/ConfirmDialog.css" rel="stylesheet" />
        <link href="~/dist/css/Components/AlertDialog.css" rel="stylesheet" />
        <link href="~/dist/css/Components/TopMenu.css" rel="stylesheet" />
        <link href="~/dist/css/Components/Dropdown.css" rel="stylesheet" />
        <link href="~/dist/css/Components/quickfilter.css" rel="stylesheet" />
        <link href="~/dist/css/Components/Tab.css" rel="stylesheet" />
        <link href="~/dist/css/Components/Links.css" rel="stylesheet" />
        <link href="~/dist/css/Components/Cards.css" rel="stylesheet" />
        <link href="~/dist/css/Components/Chart.css" rel="stylesheet" />
        <link href="~/dist/css/Components/CustomGrid.css" rel="stylesheet" />
        <link href="~/dist/css/site.css" rel="stylesheet" />
        <link href="~/dist/css/Dashboard/dashboard.css" rel="stylesheet" />
        <link href="~/dist/css/Play/Play.css" rel="stylesheet" />
        <link href="~/dist/css/About/About.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/cssminify/ej2.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/cssminify/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/cssminify/dashboard.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/cssminify/play.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/cssminify/about.min.css" asp-append-version="true" />
    </environment>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="~/js/js-signals.min.js"></script>
    <script src="~/js/elasticlunr.min.js"></script>
    <script src="~/js/highlight.min.js"></script>
    <script src="~/js/crossroads.js"></script>
    <script src="~/js/hasher.min.js"></script>
    <script src="~/js/common.data.js"></script>
    <script src="~/js/ej2.min.js"></script>
    <script src="~/js/timer.jquery.js"></script>
    <script src="~/js/signalr.min.js"></script>
    <script src="~/js/jquery.qrcode.js"></script>
    <script src="~/js/qrcode.js"></script>
    <script type="text/javascript">
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
            document.write('<script src="js/bluebird.min.js"><\/script>');
        }
    </script>
    <environment names="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/jsminify/site.min.js"></script>
    </environment>
</head>
<body id="targetbody">
    @RenderBody()
    <environment names="Development">
        <script src="~/js/dashboard.js"></script>
        <script src="~/js/play.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/jsminify/dashboard.min.js"></script>
        <script src="~/dist/jsminify/play.min.js"></script>
    </environment>
    <ejs-scripts></ejs-scripts>
</body>
</html>
